@import '../globals.scss';

.animation-section {
  position: relative;
  z-index: 10;
  height: 400vh;

  .animation-container {
    position: relative;
    width: 100%;
    height: 300vh;

    .boxes-container {
      position: sticky;
      top: 10vh;
      display: flex;
      align-items: center;
      z-index: 2;

      .locker {
        position: absolute;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-radius: 10px;
        // background: radial-gradient(#7fff00 10%, #040c18 100%);
        color: #040c18;

        .locker-title {
          font-size: 45px;
          text-align: left;
        }

        p {
          font-size: 20px;
        }

        .locker-desc {
          line-height: 35px;
          font-size: 20px;
          font-family: 'Open Sans';
        }
      }
    }
  }
}
