.explore {
  position: relative;

  .rectangle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    flex-shrink: 0;
    background: hsl(202, 92%, 90%) 50%;
    filter: blur(45px) brightness(100%) drop-shadow(0 0 0.5em hsl(202, 92%, 90%));
  }
}
