@import '../globals.scss';

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url('../images/herobg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 64px;

  @include smMobile {
    padding: 0 24px;
  }

  .hero-title {
    h1 {
      font-size: 73px;
      font-weight: 700;
      line-height: 92px;
      text-align: center;

      @include lgMobile {
        line-height: 55px;
        font-size: 45px;
      }

      @include smMobile {
        line-height: 45px;
        font-size: 30px;
      }
    }

    span {
      font-weight: 700;
      color: $primary200;
    }

    .hero-intro {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 100px;

      @include lgMobile {
        margin-top: 150px;
      }

      p {
        max-width: 920px;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;

        @include lgMobile {
          font-size: 16px;
        }
      }
    }
  }
}
