@import '../globals.scss';

.technology {
  background-image: url('../images/vector.png');
  background-size: contain;
  background-position: left 50% top 250px;
  background-repeat: no-repeat;

  @include Laptop {
    background-image: none;
  }

  .custom-card {
    flex-direction: row-reverse;
    gap: 80px;

    @include Laptop {
      gap: 50px;
    }

    @include lgMobile {
      flex-direction: column;
    }
  }
}
