.myswiper {
  width: 100%;
  height: 60vh;
  padding-top: 100px;
  margin-bottom: 80px;

  .myswiper-slider {
    width: 817.844px;
    height: 460.349px;
    background-size: cover;
    background-position: center;
    border-radius: 42px;

    .swiper-content {
      display: none;
      opacity: 0;
      padding: 60px;
    }

    h2 {
      color: white;
      font-size: 29px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: -0.14px;
    }

    p {
      width: 60%;
      text-align: left;
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.14px;
    }
  }

  .swiper-slide-active .swiper-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 42px;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    background: hsl(202, 92%, 90%) 50%;
    filter: blur(3px) brightness(100%) drop-shadow(0 0 3.5em hsl(202, 92%, 100%));
    background-size: cover;
  }

  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background-color: #7fff00;
  }
}
