@import '../../globals.scss';

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 207px;
  height: 268px;
  border-radius: 10px;
  background: $secondary300;
  padding: 20px 25px;

  @include smMobile {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 15px;
  }

  p {
    color: $dark600;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    letter-spacing: -0.14px;
  }

  .testimonial-dev {
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
      border: 1px solid $primary700;
    }

    h2 {
      color: $dark800;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 23.4px; /* 146.25% */
      letter-spacing: -0.14px;
    }
  }

  .stars {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 5px;
    border-radius: 4px;
    svg {
      width: 15px;
      height: 15px;
    }
  }
}
