@import '../../globals.scss';

h1 {
  font-size: 73px;
  font-weight: 700;
  line-height: 92px;
  margin-top: 15px;

  @include lgMobile {
    font-size: 55px;
  }

  @include smMobile {
    font-size: 40px;
  }
}
